
.header2 {
    width: 100%;
    /* height: 230vh; */
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
    font-weight: bold;
}
.header_naw2 {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
}

.header__top-button2 {
    transition: 0.3s;
}
.header__top-button2:hover {
    color: #939393;
}
.header__top-button22 {
    margin-right: 15%;
}
.header_button2 {
    padding: 4% 13%;
    display: flex;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #131313;
    margin: 0;
    padding: 0;
}

/* Основные стили для десктопов */

.header2 {
    width: 100%;
    /* height: 230vh; */
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
    font-weight: bold;
}
.header_naw2 {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
}

.header__top-button2 {
    transition: 0.3s;
}
.header__top-button2:hover {
    color: #939393;
}
.header__top-button22 {
    margin-right: 15%;
}
.header_button2 {
    padding: 4% 13%;
    display: flex;
}
/* Основной контент */
.base {
    width: 100%;
    padding: 7% 17%;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.img2 {
    width: 70%;
    height: auto;
}
.base_text {
    /* width: 45%; */
    font-size: 1rem;
}
.base_text_kontakt {
    /* width: 45%; */
    font-size: 1rem;
}
.base_text_title {
    font-weight: bold;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
}
.footer {
    width: 100%;
    padding: 2% 18%;
    background-color: #202020;
    position: relative;
}
.footer::before {
    background-image: url("../img/footer.png");
    background-size: cover;
    background-position: center;
    opacity: 15%;
    content: ' ';
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.def-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text {
    font-size: 1.5rem;
    margin-right: 5%;
}
.footer-icon-yt {
    width: 60px;
    transition: 0.3s;
}
.footer-icon-yt:hover {
    opacity: 70%;
}
.footer-link {
    text-decoration: underline;
    transition: 0.3s;
}
.footer-link:hover {
    color: #939393;
}

/* Медиазапросы для адаптивности */

/* Для планшетов (ширина от 768px до 1024px) */
@media (max-width: 1024px) {
    
    .base {
        flex-direction: column;
    }
    .base_img {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .img2 {
        width: 70%;
    }
    .base_text {
        width: 90%;
        text-align: center;
        margin-top: 2rem;
    }
    .base_text_kontakt {
        width: 90%;
        text-align: center;
        margin-top: 2rem;
    }

}

/* Для мобильных устройств (ширина до 768px) */
@media (max-width: 768px) {
    .header_naw2 {
        flex-direction: column;
        padding: 0;
    }
    .base {
        flex-direction: column;
        padding: 2% 5%;
    }
    .img2 {
        width: 50%;
    }
    .base_text {
        width: 100%;
        margin-top: 2rem;
        text-align: center;
    }
    .base_text_kontakt {
        width: 100%;
        margin-top: 2rem;
        text-align: center;
    }
    .footer-text {
        font-size: 0.8rem;
        text-align: center;
    }
    .footer-icon-yt {
        width: 50px;
    }
    .header_button {
        margin-top: 20px;
    }
    .img1 {
        margin-left: 0;
        width: 65%;
    }
    .header__top-button22 {
        margin-right: 5%;
    }
    .header_button2 {
        margin-top: 20px;
        padding: 0% 13% 0% 9%;
        font-size: 1.3rem;
    }
}


.header_button {
    padding: 0% 13%;
    display: flex;
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.recenzie_txt {
    font-weight: bold;
    font-size: 26px;
    line-height: 50px;
}
.kontakt {
    font-size: 1rem;
}
.kontakt_link {
    text-decoration: underline;
    transition: 0.3s;

}
.kontakt_link:hover {
    color: #939393;
    text-decoration: none;
}




